@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--artdeco-reset-typography-font-family-sans);
  --artdeco-reset-typography-font-family-sans: -apple-system, system-ui,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu,
    Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica,
    Arial, sans-serif;
  background-color: #000;
  color: white;
}

button {
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
}

.home {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  /* gap: 1.5pc; */
  /* display: grid;
  grid-template-columns: 1fr 3fr 2fr; */
  /* align-items: center; */
}

.home > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-by {
  margin: 1rem 0;
  width: 40vw;
  background-color: #3d3d3d;
  height: 1px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.post-card {
  width: 40vw;
  background-color: #1b1f23;
  border-radius: 0.5rem;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
}

.profile-details > div {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.profile-details div div {
  display: flex;
  flex-direction: column;
}

.profile-details svg {
  font-size: larger;
  align-self: start;
  padding: 0.5rem 0.55rem;
  border-radius: 50%;
}

.profile-details svg:hover {
  background-color: #575c60;
}

.profile-card-userName {
  font-weight: 500;
  color: #ddd;
  &:hover {
    color: #039de5;
    text-decoration: underline;
  }
}

.profile-details div p:nth-child(2) {
  color: #ffffff99;
  font-size: small;
}

.post-content {
  padding: 0.75rem;
  font-size: 0.9rem;
  padding-top: 0;
}

.content-image {
  width: 100%;
}
.profile-image {
  width: 3.5rem;
  border-radius: 50%;
}

.likes-comments-count {
  display: flex;
  justify-content: space-between;
  color: #ffffff99;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.01rem solid #3d3d3d;
  font-size: 0.75rem;
  margin: 0 1rem;
}

.reaction-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-weight: 600;
  justify-items: stretch;
  padding: 0.25rem 1rem;
}

.reaction-buttons div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.reaction-buttons div:hover {
  background-color: #575c60;
  cursor: pointer;
}

.reaction-buttons svg {
  font-size: 1.5rem;
  padding: 0.5rem;
  -webkit-transform: none;
  transform: none;
}

.solid-like-btn {
  fill: #fff;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  height: 1.65em;
  fill: #039de5;
  /* filter: drop-shadow(3px 5px 2px rgba(10, 157, 255, 0.4)); */
}

.news-card {
  width: 20vw;
  background-color: #1b1f23;
  border-radius: 0.5rem;
  color: #ddd;
  font-size: 14px;
  font-weight: 600;
  padding: 1rem 0;
  padding-bottom: 0;
}

.news-card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.news-card-header i {
  font-size: 12px;
  font-weight: bolder;
  color: #1b1f23;
  background-color: #ddd;
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
}

.news-card-list div {
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.news-card-list section {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.news-card-list div:hover {
  background-color: #575c60;
  width: 100%;
}

.news-card-list svg {
  font-size: 6px;
  font-weight: bold;
}

.i-card-text-holder {
  position: absolute;
  background-color: #1b1f23;
  width: 22vw;
  padding: 0.5rem;
  border: 1px solid #ffffff3a;
  border-radius: 0.5rem;
  display: none;
  font-weight: 400;
  right: 13%;
  top: 9%;
  > p > span {
    color: #039de5;
    cursor: pointer;
  }
  > svg {
    cursor: pointer;
  }
}

.news-card-list div > p {
  color: #ffffff99;
  font-weight: normal;
  font-size: 13px;
  margin-left: 1rem;
}

.news-card button {
  border: none;
  background-color: transparent;
  color: #ddd;
  font-weight: 600;
  font-family: inherit;
  font-size: 15px;
  margin: 0.75rem 0 0.75rem 1.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: fit-content;
  display: flex;
  align-items: center;
}

.news-card button:hover {
  background-color: #575c60;
}

.discover-more {
  background-color: #1b1f23;
  border-radius: 0.5rem;
  margin-top: 0.4rem;
  width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 0.9rem;
}

.discover-more p {
  color: #70b5f9;
  font-weight: 600;
  font-size: 13px;
  margin-left: 0.75rem;
  cursor: pointer;
}

.discover-more p:hover {
  text-decoration: underline;
}

.discover-more section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover-more section span {
  color: #ddd;
  font-size: 24px;
  margin-right: 0.5rem;
}

.discover-more > div {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  border-top: 1px solid #3d3d3d;
  border-radius: 0 0 0.5rem 0.5rem;
}

.discover-more > div:hover {
  background-color: #575c60;
}



.account-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.account-profile-card {
  color: #ddd;
  width: 60vw;
  background-color: #1b1f23;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  padding-bottom: 1.75rem;
  > .profile-pic-container {
    background: url("https://cdn.pixabay.com/photo/2016/03/26/13/09/cup-of-coffee-1280537_1280.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-clip: padding-box;
    padding: 2rem;
    height: 25vh;
    display: flex;
    align-items: end;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 4rem;
  }
}

.account-profile-card .profile-pic-container img {
  border-radius: 5rem;
  width: 10rem;
  outline: 4px solid #1b1f23;
  position: relative;
  top: 5rem;
}

.account-profile-card .personal-information-container {
  display: flex;
  padding: 0 2rem 0;
  > div {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 3;
  }
  > .college-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    > .image-container {
      width: 4.5rem;
      > img {
        width: 100%;
      }
    }
    > p {
      font-weight: 600;
      font-size: 14px;
    }
  }
}

.account-profile-card .personal-information-container .name {
  font-weight: 600;
}

.account-profile-card .personal-information-container .address {
  color: #ffffff99;
  font-weight: 400;
  font-size: 14px;
}

.account-profile-card .personal-information-container .address .contact-info,
.account-profile-card
  .personal-information-container
  .followers-and-connections {
  color: #70b5f9;
  font-weight: 600;
}

.account-profile-card
  .personal-information-container
  .followers-and-connections {
  display: flex;
  gap: 5px;
  font-size: 14px;
}

.account-profile-card {
  > .buttons-container {
    display: flex;
    gap: 10px;
    padding-left: 2rem;
    margin-top: 1rem;
    > button {
      padding: 0.5rem 0.75rem;
      border-radius: 2rem;
      font-family: inherit;
      font-weight: 600;
      &:first-child {
        background-color: #039de5;
        border: 2px solid #039de5;
        color: #25303b;
      }
      &:last-child {
        border: 2px solid #fff;
        background-color: transparent;
        color: #fff;
      }
      &:nth-child(2) {
        border: 2px solid #039de5;
        color: #039de5;
        background-color: transparent;
      }
    }
  }
}

.analytics-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1f23;
  width: 60vw;
  padding: 1rem 2rem 1rem 1rem;
  border-radius: 0.75rem;
  > div {
    display: flex;
    gap: 10px;
    align-items: center;
    > p:first-child {
      font-weight: 600;
      font-size: 14px;
    }
    > p:nth-child(2) {
      color: gray;
      font-size: 12px;
      font-weight: 500;
    }
  }

  > a {
    color: rgb(177, 177, 177);
    font-weight: 600;
    &:hover {
      color: #039de5;
      text-decoration: underline;
    }
  }
}
