

.navBar {
    display: flex;
    background-color: #1b1f23;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 10%;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    border-bottom: 1px solid #ffffff35;
  }
  .logoSearchBar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    > svg {
      cursor: pointer;
    }
  }

  

  