:root {
  --color-grey: #ffffff99;
}

.navLinks {
  display: flex;
  align-items: center;
  > ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    list-style: none;
    border-right: 1px solid #ffffff2c;
    > li {
      > a,.profileLink {
        text-decoration: none;
        color: var(--color-grey);
        padding: 0.5rem 0.75rem;
        padding-bottom: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        > p {
          display: flex;
          gap: 5px;
        }
      }
      > a:hover,.profileLink:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.businessPremiumLinks {
  display: flex;
  align-items: center;
  > a {
    color: goldenrod;
    text-decoration: underline;
  }
  > a:hover {
    color: gold;
  }
}
.businessLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey);
  padding: 0.5rem 1rem;
  > svg:hover {
    color: #fff;
    cursor: pointer;
  }
}
